.imageAbout{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    img{
        width: 100%;
    }
}


@media (max-width: 480px) {
    .imageAbout{
        flex-direction: column-reverse;
        margin-top: 15%;
    }
}